
/* Auth Classes */
img.logo-pesbuk {
  width: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.auth-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(14, 63, 197);
}

.auth-form {
  width: 320px;
}

.auth-title {
  text-align: center;
  margin: 7px 0;
  color: white;
  font-weight: 250;
}

label.auth-label {
  display: block;
  margin: 5px 0;
  color: white;
  font-size: 12px
}

input.auth-input {
  padding: 7px;
  width: 100%;
  font-size: 17px;
  font-weight: 550;
  color: rgb(19, 41, 102);
  border: none;
  margin-bottom: 3px;
}

.btn-login {
  width: 100%;
  height: 36px;
  font-size: 17px;
  border: none;
  background: white;
  border-radius: 7px;
  color: rgb(20, 46, 119);
  font-weight: 600;
  cursor: pointer;
}

#showPassToggle, #showPassUlangToggle {
  color: rgb(14, 63, 197);
  text-align: right;
  display: inline;
  position: relative;
  bottom: 31px;
  left: 287px;
  cursor: pointer;
  margin-bottom: 0;
}

.links {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.auth-link {
  margin-top: 7px;
  color: rgb(113, 198, 255);
}

.auth-radio {
  width: 48%;
  margin-bottom: 12px;
  text-align: center;
  background: white;
  color: rgb(14, 63, 197);
  padding: 7px 0;
  cursor: pointer;
  font-weight: 600;
}
